.a-ui .a-btn, .a-ui.a-btn, .a-ui .a-link, .a-ui.a-link {
  position:relative;
  display:inline-block;
  float:left;
  text-decoration:none;
  font-family:arial, sans-serif;
  font-size:12.006px;
  font-weight:normal;
  cursor:pointer;
  padding:0 4px;
  white-space:nowrap;
  height:18px;
  line-height:18px;
  border:none;
}
.a-ui .a-btn:hover, .a-ui.a-btn:hover, .a-ui .a-link:hover, .a-ui.a-link:hover { text-decoration:none; }
.a-ui .a-btn.icon, .a-ui.a-btn.icon, .a-ui .a-link.icon, .a-ui.a-link.icon { padding:0 4px 0 20px; }
.a-ui .a-btn.icon:hover > .icon, .a-ui .a-btn.icon:focus > .icon, .a-ui.a-btn.icon:hover > .icon, .a-ui.a-btn.icon:focus > .icon, .a-ui .a-link.icon:hover > .icon, .a-ui .a-link.icon:focus > .icon, .a-ui.a-link.icon:hover > .icon, .a-ui.a-link.icon:focus > .icon { background-color:none; }
.a-ui .a-btn.icon > .icon, .a-ui.a-btn.icon > .icon, .a-ui .a-link.icon > .icon, .a-ui.a-link.icon > .icon {
  display:block;
  height:20px;
  width:20px;
  position:absolute;
  top:50%;
  left:0;
  margin-top:-10px;
  background-repeat:no-repeat;
  background-image:url(/apostrophePlugin/images/a-icon-sprite.png);
  overflow:hidden;
  text-indent:-9999px;
}
.a-ui .a-btn.icon.icon-right, .a-ui.a-btn.icon.icon-right, .a-ui .a-link.icon.icon-right, .a-ui.a-link.icon.icon-right { padding:0 20px 0 4px; }
.a-ui .a-btn.icon.icon-right > .icon, .a-ui.a-btn.icon.icon-right > .icon, .a-ui .a-link.icon.icon-right > .icon, .a-ui.a-link.icon.icon-right > .icon {
  left:auto;
  right:0;
}
.a-ui .a-btn.icon.no-icon > .icon, .a-ui.a-btn.icon.no-icon > .icon, .a-ui .a-link.icon.no-icon > .icon, .a-ui.a-link.icon.no-icon > .icon {
  background:none;
  text-indent:0;
  text-align:center;
  line-height:20px;
}
.a-ui .a-btn.no-label, .a-ui .a-btn.no-label:hover, .a-ui.a-btn.no-label, .a-ui.a-btn.no-label:hover, .a-ui .a-link.no-label, .a-ui .a-link.no-label:hover, .a-ui.a-link.no-label, .a-ui.a-link.no-label:hover {
  background-repeat:no-repeat;
  text-indent:-9999px;
  padding:0;
  width:18px;
}
.a-ui .a-btn.no-label.icon > .icon, .a-ui .a-btn.no-label:hover.icon > .icon, .a-ui.a-btn.no-label.icon > .icon, .a-ui.a-btn.no-label:hover.icon > .icon, .a-ui .a-link.no-label.icon > .icon, .a-ui .a-link.no-label:hover.icon > .icon, .a-ui.a-link.no-label.icon > .icon, .a-ui.a-link.no-label:hover.icon > .icon {
  left:50%;
  margin-left:-10px;
}
.a-ui .a-btn.lite, .a-ui.a-btn.lite, .a-ui .a-link.lite, .a-ui.a-link.lite {
  text-shadow:none;
  background:none;
  border:1px solid transparent;
}
.a-ui .a-btn.lite:hover, .a-ui.a-btn.lite:hover, .a-ui .a-link.lite:hover, .a-ui.a-link.lite:hover {
  color:#000000 !important;
  background-color:rgba(0,0,0,0.125) !important;
  border:1px inset rgba(0,0,0,0.125) !important;
}
.a-ui .a-btn.mini, .a-ui.a-btn.mini, .a-ui .a-link.mini, .a-ui.a-link.mini {
  font-size:10.0058004px;
  height:16.002px;
  line-height:16.002px;
}
.a-ui .a-btn.mini.no-label, .a-ui.a-btn.mini.no-label, .a-ui .a-link.mini.no-label, .a-ui.a-link.mini.no-label { width:16.002px; }
.a-ui .a-btn.mini.no-icon > .icon, .a-ui.a-btn.mini.no-icon > .icon, .a-ui .a-link.mini.no-icon > .icon, .a-ui.a-link.mini.no-icon > .icon { line-height:16.002px; }
.a-ui .a-btn.big, .a-ui.a-btn.big, .a-ui .a-link.big, .a-ui.a-link.big {
  font-size:18.009px;
  height:22.5px;
  line-height:22.5px;
}
.a-ui .a-btn.big.no-label, .a-ui.a-btn.big.no-label, .a-ui .a-link.big.no-label, .a-ui.a-link.big.no-label { width:22.5px; }
.a-ui .a-btn.big.no-icon > .icon, .a-ui.a-btn.big.no-icon > .icon, .a-ui .a-link.big.no-icon > .icon, .a-ui.a-link.big.no-icon > .icon { line-height:22.5px; }
.a-ui .a-btn.no-bg, .a-ui .a-btn.no-bg:hover, .a-ui .a-btn.no-bg:focus, .a-ui.a-btn.no-bg, .a-ui.a-btn.no-bg:hover, .a-ui.a-btn.no-bg:focus, .a-ui .a-link.no-bg, .a-ui .a-link.no-bg:hover, .a-ui .a-link.no-bg:focus, .a-ui.a-link.no-bg, .a-ui.a-link.no-bg:hover, .a-ui.a-link.no-bg:focus {
  border:0 !important;
  text-shadow:none !important;
  background:none !important;
  -moz-box-shadow:0 0 0 transparent !important;
  -webkit-box-shadow:0 0 0 transparent !important;
  -opera-box-shadow:0 0 0 transparent !important;
  -khtml-box-shadow:0 0 0 transparent !important;
  box-shadow:0 0 0 transparent !important;
  line-height:20px !important;
  height:20px !important;
}
.a-ui .a-btn.a-cancel, .a-ui.a-btn.a-cancel, .a-ui .a-link.a-cancel, .a-ui.a-link.a-cancel {
  padding:0 4px 0 20px;
  padding-left:20px !important;
}
.a-ui .a-btn.a-cancel.no-label, .a-ui.a-btn.a-cancel.no-label, .a-ui .a-link.a-cancel.no-label, .a-ui.a-link.a-cancel.no-label { padding:0 !important; }
.a-ui .a-btn.a-drag, .a-ui.a-btn.a-drag, .a-ui .a-link.a-drag, .a-ui.a-link.a-drag { cursor:move; }
.a-ui .a-btn.a-sort-arrow.not-sorting, .a-ui.a-btn.a-sort-arrow.not-sorting, .a-ui .a-link.a-sort-arrow.not-sorting, .a-ui.a-link.a-sort-arrow.not-sorting { opacity:0.5; }
.a-ui .a-btn.a-sort-arrow.not-sorting:hover, .a-ui.a-btn.a-sort-arrow.not-sorting:hover, .a-ui .a-link.a-sort-arrow.not-sorting:hover, .a-ui.a-link.a-sort-arrow.not-sorting:hover { opacity:1; }
.a-ui .a-btn.a-busy > .icon, .a-ui.a-btn.a-busy > .icon, .a-ui .a-link.a-busy > .icon, .a-ui.a-link.a-busy > .icon { background:url(/apostrophePlugin/images/a-icon-loader-2.gif) 50% 50% no-repeat; }
.a-ui .a-btn.a-sidebar-button, .a-ui.a-btn.a-sidebar-button, .a-ui .a-link.a-sidebar-button, .a-ui.a-link.a-sidebar-button {
  width:99%;
  padding:0 !important;
  text-align:center;
  clear:both;
  margin:0 0 10px;
}
.a-ui .a-btn.a-sidebar-button .label, .a-ui.a-btn.a-sidebar-button .label, .a-ui .a-link.a-sidebar-button .label, .a-ui.a-link.a-sidebar-button .label {
  width:100%;
  text-align:center;
  display:block;
  position:absolute;
}
.a-ui .a-btn.a-toggle-btn, .a-ui.a-btn.a-toggle-btn, .a-ui .a-link.a-toggle-btn, .a-ui.a-link.a-toggle-btn {
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}
.a-ui .a-btn.a-toggle-btn.option-1 .option-1, .a-ui .a-btn.a-toggle-btn.option-2 .option-2, .a-ui.a-btn.a-toggle-btn.option-1 .option-1, .a-ui.a-btn.a-toggle-btn.option-2 .option-2, .a-ui .a-link.a-toggle-btn.option-1 .option-1, .a-ui .a-link.a-toggle-btn.option-2 .option-2, .a-ui.a-link.a-toggle-btn.option-1 .option-1, .a-ui.a-link.a-toggle-btn.option-2 .option-2 { display:block; }
.a-ui .a-btn.a-toggle-btn.option-1 .option-2, .a-ui .a-btn.a-toggle-btn.option-2 .option-1, .a-ui.a-btn.a-toggle-btn.option-1 .option-2, .a-ui.a-btn.a-toggle-btn.option-2 .option-1, .a-ui .a-link.a-toggle-btn.option-1 .option-2, .a-ui .a-link.a-toggle-btn.option-2 .option-1, .a-ui.a-link.a-toggle-btn.option-1 .option-2, .a-ui.a-link.a-toggle-btn.option-2 .option-1 { display:none; }
.a-ui .a-btn.a-toggle-btn.icon > .icon, .a-ui.a-btn.a-toggle-btn.icon > .icon, .a-ui .a-link.a-toggle-btn.icon > .icon, .a-ui.a-link.a-toggle-btn.icon > .icon {
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  height:10px;
  width:10px;
  margin:-6px 4px 0;
  border:1px inset rgba(0,0,0,0.2);
  background-image:none;
}
.a-ui .a-btn.a-toggle-btn.icon.option-1 > .icon, .a-ui.a-btn.a-toggle-btn.icon.option-1 > .icon, .a-ui .a-link.a-toggle-btn.icon.option-1 > .icon, .a-ui.a-link.a-toggle-btn.icon.option-1 > .icon {
  background:#31ab64;
  background-image:-moz-radial-gradient(#31ab64 0%,#008040 100%);
  background-image:-webkit-gradient(radial,color-stop(0,#00ff00),color-stop(1,#008040));
}
.a-ui .a-btn.a-toggle-btn.icon.option-2 > .icon, .a-ui.a-btn.a-toggle-btn.icon.option-2 > .icon, .a-ui .a-link.a-toggle-btn.icon.option-2 > .icon, .a-ui.a-link.a-toggle-btn.icon.option-2 > .icon {
  background:#ff6666;
  background-image:-moz-radial-gradient(center bottom,#ff6666 0%,#ff0000 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,red),color-stop(1,#ff6666));
}
.a-ui.a-tag > .a-tag-count, .a-ui .a-tag > .a-tag-count {
  color:#999999;
  text-indent:0;
  text-align:center;
}
.a-ui input.a-btn.a-submit.big, input.a-ui.a-btn.a-submit.big { height:24.5px; }
.a-arrow-btn {
  float:left;
  cursor:pointer;
  text-indent:-9999px;
  padding:0;
  width:20px;
  height:20px;
  outline:none;
  overflow:hidden;
  background-image:url(/apostrophePlugin/images/a-icon-sprite.png);
}
.a-arrow-btn:hover { opacity:0.5; }
.a-btn.a-none > .icon, .a-arrow-btn.a-none > .icon { background-image:none !important; }
.a-btn.a-add > .icon, .a-arrow-btn.a-add > .icon { background-position:0px 0px; }
.a-btn.a-arrow-btn.a-arrow-down, .a-btn.a-arrow-down > .icon, .a-arrow-btn.a-arrow-btn.a-arrow-down, .a-arrow-btn.a-arrow-down > .icon { background-position:0px -20px; }
.a-btn.a-arrow-btn.a-arrow-up, .a-btn.a-arrow-up > .icon, .a-arrow-btn.a-arrow-btn.a-arrow-up, .a-arrow-btn.a-arrow-up > .icon { background-position:0px -40px; }
.a-btn.a-arrow-btn.a-arrow-left, .a-btn.a-arrow-left > .icon, .a-arrow-btn.a-arrow-btn.a-arrow-left, .a-arrow-btn.a-arrow-left > .icon { background-position:0px -60px; }
.a-btn.a-arrow-btn.a-arrow-right, .a-btn.a-arrow-right > .icon, .a-arrow-btn.a-arrow-btn.a-arrow-right, .a-arrow-btn.a-arrow-right > .icon { background-position:0px -80px; }
.a-btn.a-arrow-btn.a-arrow-left.chunky, .a-btn.a-arrow-left.chunky > .icon, .a-arrow-btn.a-arrow-btn.a-arrow-left.chunky, .a-arrow-btn.a-arrow-left.chunky > .icon { background-position:0px -100px; }
.a-btn.a-arrow-btn.a-arrow-right.chunky, .a-btn.a-arrow-right.chunky > .icon, .a-arrow-btn.a-arrow-btn.a-arrow-right.chunky, .a-arrow-btn.a-arrow-right.chunky > .icon { background-position:0px -120px; }
.a-btn.a-arrow-btn.a-arrow-left.thin, .a-btn.a-arrow-left.thin > .icon, .a-arrow-btn.a-arrow-btn.a-arrow-left.thin, .a-arrow-btn.a-arrow-left.thin > .icon { background-position:0px -140px; }
.a-btn.a-arrow-btn.a-arrow-right.thin, .a-btn.a-arrow-right.thin > .icon, .a-arrow-btn.a-arrow-btn.a-arrow-right.thin, .a-arrow-btn.a-arrow-right.thin > .icon { background-position:0px -160px; }
.a-btn.a-return > .icon, .a-arrow-btn.a-return > .icon { background-position:0px -180px; }
.a-btn.a-dropdown-arrow.right > .icon, .a-arrow-btn.a-dropdown-arrow.right > .icon { background-position:0px -200px; }
.a-btn.a-dropdown-arrow.left > .icon, .a-arrow-btn.a-dropdown-arrow.left > .icon { background-position:0px -220px; }
.a-btn.a-dropdown-arrow.down > .icon, .a-arrow-btn.a-dropdown-arrow.down > .icon { background-position:0px -240px; }
.a-btn.a-dropdown-arrow.up > .icon, .a-arrow-btn.a-dropdown-arrow.up > .icon { background-position:0px -260px; }
.a-btn.a-audio > .icon, .a-arrow-btn.a-audio > .icon { background-position:0px -280px; }
.a-btn.a-blogmulti > .icon, .a-arrow-btn.a-blogmulti > .icon { background-position:0px -300px; }
.a-btn.a-blog > .icon, .a-btn.a-blog-btn > .icon, .a-btn.a-blogpost > .icon, .a-btn.a-blogsingle > .icon, .a-arrow-btn.a-blog > .icon, .a-arrow-btn.a-blog-btn > .icon, .a-arrow-btn.a-blogpost > .icon, .a-arrow-btn.a-blogsingle > .icon { background-position:0px -320px; }
.a-btn.a-button > .icon, .a-arrow-btn.a-button > .icon { background-position:0px -340px; }
.a-btn.a-checked > .icon, .a-arrow-btn.a-checked > .icon { background-position:0px -360px; }
.a-btn.a-unchecked > .icon, .a-arrow-btn.a-unchecked > .icon { background-position:0px -380px; }
.a-btn.a-download > .icon, .a-arrow-btn.a-download > .icon { background-position:0px -400px; }
.a-btn.a-drag > .icon, .a-arrow-btn.a-drag > .icon { background-position:0px -420px; }
.a-btn.a-edit > .icon, .a-btn.a-publish > .icon, .a-arrow-btn.a-edit > .icon, .a-arrow-btn.a-publish > .icon { background-position:0px -440px; }
.a-btn.a-email > .icon, .a-arrow-btn.a-email > .icon { background-position:0px -460px; }
.a-btn.a-events.day-1 > .icon, .a-arrow-btn.a-events.day-1 > .icon { background-position:0px -480px; }
.a-btn.a-events.day-2 > .icon, .a-arrow-btn.a-events.day-2 > .icon { background-position:0px -500px; }
.a-btn.a-events.day-3 > .icon, .a-arrow-btn.a-events.day-3 > .icon { background-position:0px -520px; }
.a-btn.a-events.day-4 > .icon, .a-arrow-btn.a-events.day-4 > .icon { background-position:0px -540px; }
.a-btn.a-events.day-5 > .icon, .a-arrow-btn.a-events.day-5 > .icon { background-position:0px -560px; }
.a-btn.a-events.day-6 > .icon, .a-arrow-btn.a-events.day-6 > .icon { background-position:0px -580px; }
.a-btn.a-events.day-7 > .icon, .a-arrow-btn.a-events.day-7 > .icon { background-position:0px -600px; }
.a-btn.a-events.day-8 > .icon, .a-arrow-btn.a-events.day-8 > .icon { background-position:0px -620px; }
.a-btn.a-events.day-9 > .icon, .a-arrow-btn.a-events.day-9 > .icon { background-position:0px -640px; }
.a-btn.a-events.day-10 > .icon, .a-arrow-btn.a-events.day-10 > .icon { background-position:0px -660px; }
.a-btn.a-events.day-11 > .icon, .a-arrow-btn.a-events.day-11 > .icon { background-position:0px -680px; }
.a-btn.a-events.day-12 > .icon, .a-arrow-btn.a-events.day-12 > .icon { background-position:0px -700px; }
.a-btn.a-events.day-13 > .icon, .a-arrow-btn.a-events.day-13 > .icon { background-position:0px -720px; }
.a-btn.a-events.day-14 > .icon, .a-arrow-btn.a-events.day-14 > .icon { background-position:0px -740px; }
.a-btn.a-events.day-15 > .icon, .a-arrow-btn.a-events.day-15 > .icon { background-position:0px -760px; }
.a-btn.a-events.day-16 > .icon, .a-arrow-btn.a-events.day-16 > .icon { background-position:0px -780px; }
.a-btn.a-events.day-17 > .icon, .a-arrow-btn.a-events.day-17 > .icon { background-position:0px -800px; }
.a-btn.a-events.day-18 > .icon, .a-arrow-btn.a-events.day-18 > .icon { background-position:0px -820px; }
.a-btn.a-events.day-19 > .icon, .a-arrow-btn.a-events.day-19 > .icon { background-position:0px -840px; }
.a-btn.a-events.day-20 > .icon, .a-arrow-btn.a-events.day-20 > .icon { background-position:0px -860px; }
.a-btn.a-events.day-21 > .icon, .a-arrow-btn.a-events.day-21 > .icon { background-position:0px -880px; }
.a-btn.a-events.day-22 > .icon, .a-arrow-btn.a-events.day-22 > .icon { background-position:0px -900px; }
.a-btn.a-events.day-23 > .icon, .a-arrow-btn.a-events.day-23 > .icon { background-position:0px -920px; }
.a-btn.a-events.day-24 > .icon, .a-arrow-btn.a-events.day-24 > .icon { background-position:0px -940px; }
.a-btn.a-events.day-25 > .icon, .a-arrow-btn.a-events.day-25 > .icon { background-position:0px -960px; }
.a-btn.a-events.day-26 > .icon, .a-arrow-btn.a-events.day-26 > .icon { background-position:0px -980px; }
.a-btn.a-events.day-27 > .icon, .a-arrow-btn.a-events.day-27 > .icon { background-position:0px -1000px; }
.a-btn.a-events.day-28 > .icon, .a-arrow-btn.a-events.day-28 > .icon { background-position:0px -1020px; }
.a-btn.a-events.day-29 > .icon, .a-arrow-btn.a-events.day-29 > .icon { background-position:0px -1040px; }
.a-btn.a-events.day-30 > .icon, .a-arrow-btn.a-events.day-30 > .icon { background-position:0px -1060px; }
.a-btn.a-events.day-31 > .icon, .a-btn.a-event > .icon, .a-btn.a-eventsingle > .icon, .a-arrow-btn.a-events.day-31 > .icon, .a-arrow-btn.a-event > .icon, .a-arrow-btn.a-eventsingle > .icon { background-position:0px -1080px; }
.a-btn.a-feed > .icon, .a-btn.a-rss-feed > .icon, .a-btn.a-rss > .icon, .a-arrow-btn.a-feed > .icon, .a-arrow-btn.a-rss-feed > .icon, .a-arrow-btn.a-rss > .icon { background-position:0px -1100px; }
.a-btn.a-feed.color > .icon, .a-btn.a-rss-feed.color > .icon, .a-btn.a-rss.color > .icon, .a-arrow-btn.a-feed.color > .icon, .a-arrow-btn.a-rss-feed.color > .icon, .a-arrow-btn.a-rss.color > .icon { background-position:0px -1760px; }
.a-btn.a-file > .icon, .a-arrow-btn.a-file > .icon { background-position:0px -1120px; }
.a-btn.a-history-btn > .icon, .a-btn.a-history-revert > .icon, .a-arrow-btn.a-history-btn > .icon, .a-arrow-btn.a-history-revert > .icon { background-position:0px -1140px; }
.a-btn.a-slideshow > .icon, .a-btn.a-media > .icon, .a-btn.a-image > .icon, .a-arrow-btn.a-slideshow > .icon, .a-arrow-btn.a-media > .icon, .a-arrow-btn.a-image > .icon { background-position:0px -1160px; }
.a-btn.a-smartslideshow > .icon, .a-arrow-btn.a-smartslideshow > .icon { background-position:0px -1180px; }
.a-btn.a-page-settings > .icon, .a-arrow-btn.a-page-settings > .icon { background-position:0px -1200px; }
.a-btn.a-page-small > .icon, .a-arrow-btn.a-page-small > .icon { background-position:0px -1220px; }
.a-btn.a-pdf > .icon, .a-arrow-btn.a-pdf > .icon { background-position:0px -1260px; }
.a-btn.a-rawhtml > .icon, .a-arrow-btn.a-rawhtml > .icon { background-position:0px -1300px; }
.a-btn.a-replace > .icon, .a-arrow-btn.a-replace > .icon { background-position:0px -1320px; }
.a-btn.a-search > .icon, .a-arrow-btn.a-search > .icon { background-position:0px -1340px; }
.a-btn.a-settings > .icon, .a-arrow-btn.a-settings > .icon { background-position:0px -1360px; }
.a-btn.a-reorganize > .icon, .a-arrow-btn.a-reorganize > .icon { background-position:0px -1380px; }
.a-btn.a-theme > .icon, .a-btn.a-templates > .icon, .a-arrow-btn.a-theme > .icon, .a-arrow-btn.a-templates > .icon { background-position:0px -1400px; }
.a-btn.a-richtext > .icon, .a-btn.a-text > .icon, .a-arrow-btn.a-richtext > .icon, .a-arrow-btn.a-text > .icon { background-position:0px -1420px; }
.a-btn.a-delete > .icon, .a-arrow-btn.a-delete > .icon { background-position:0px -1440px; }
.a-btn.a-categories > .icon, .a-btn.a-tags > .icon, .a-arrow-btn.a-categories > .icon, .a-arrow-btn.a-tags > .icon { background-position:0px -1460px; }
.a-btn.a-users > .icon, .a-arrow-btn.a-users > .icon { background-position:0px -1480px; }
.a-btn.a-video > .icon, .a-arrow-btn.a-video > .icon { background-position:0px -1500px; }
.a-btn.a-time > .icon, .a-arrow-btn.a-time > .icon { background-position:0px -1520px; }
.a-btn.a-crop > .icon, .a-arrow-btn.a-crop > .icon { background-position:0px -1540px; }
.a-btn.a-calendar > .icon, .a-arrow-btn.a-calendar > .icon { background-position:0px -1560px; }
.a-btn.a-filters > .icon, .a-arrow-btn.a-filters > .icon { background-position:0px -1360px; }
.a-btn.a-help > .icon, .a-arrow-btn.a-help > .icon { background-position:0px -1600px; }
.a-btn.a-media-four-up > .icon, .a-arrow-btn.a-media-four-up > .icon { background-position:0px -1620px; }
.a-btn.a-media-one-up > .icon, .a-arrow-btn.a-media-one-up > .icon { background-position:0px -1640px; }
.a-btn.a-media-two-up > .icon, .a-arrow-btn.a-media-two-up > .icon { background-position:0px -1660px; }
.a-btn.a-page-blog > .icon, .a-arrow-btn.a-page-blog > .icon { background-position:0px -1680px; }
.a-btn.a-page-events  > .icon, .a-arrow-btn.a-page-events  > .icon { background-position:0px -1700px; }
.a-btn.a-page-media  > .icon, .a-arrow-btn.a-page-media  > .icon { background-position:0px -1720px; }
.a-btn.a-page-normal > .icon, .a-arrow-btn.a-page-normal > .icon { background-position:0px -1740px; }
.a-btn.a-close > .icon, .a-arrow-btn.a-close > .icon { background-position:0px -1780px; }
.a-btn.a-selected > .icon, .a-btn.a-cancel > .icon, .a-btn.a-close-small > .icon, .a-arrow-btn.a-selected > .icon, .a-arrow-btn.a-cancel > .icon, .a-arrow-btn.a-close-small > .icon { background-position:0px -1800px; }
.a-btn.a-insetarea > .icon, .a-arrow-btn.a-insetarea > .icon { background-position:0px -1820px; }
.a-btn.a-insetimage > .icon, .a-arrow-btn.a-insetimage > .icon { background-position:0px -1840px; }
.a-btn.a-undo > .icon, .a-arrow-btn.a-undo > .icon { background-position:0px -1860px; }
.a-btn.a-redo > .icon, .a-arrow-btn.a-redo > .icon { background-position:0px -1880px; }
.a-btn.a-apps > .icon, .a-arrow-btn.a-apps > .icon { background-position:0px -1900px; }
.a-btn.a-print > .icon, .a-arrow-btn.a-print > .icon { background-position:0px -1920px; }
.a-btn.a-google-maps > .icon, .a-arrow-btn.a-google-maps > .icon { background-position:0px -0px; }
.a-btn.alt.a-none > .icon, .a-link.a-none > .icon, .a-btn.lite.a-none > .icon, .a-arrow-btn.alt.a-none > .icon { background-image:none !important; }
.a-btn.alt.a-add > .icon, .a-link.a-add > .icon, .a-btn.lite.a-add > .icon, .a-arrow-btn.alt.a-add > .icon { background-position:-20px 0px; }
.a-btn.alt.a-arrow-btn.a-arrow-down, .a-btn.alt.a-arrow-down > .icon, .a-link.a-arrow-btn.a-arrow-down, .a-link.a-arrow-down > .icon, .a-btn.lite.a-arrow-btn.a-arrow-down, .a-btn.lite.a-arrow-down > .icon, .a-arrow-btn.alt.a-arrow-btn.a-arrow-down, .a-arrow-btn.alt.a-arrow-down > .icon { background-position:-20px -20px; }
.a-btn.alt.a-arrow-btn.a-arrow-up, .a-btn.alt.a-arrow-up > .icon, .a-link.a-arrow-btn.a-arrow-up, .a-link.a-arrow-up > .icon, .a-btn.lite.a-arrow-btn.a-arrow-up, .a-btn.lite.a-arrow-up > .icon, .a-arrow-btn.alt.a-arrow-btn.a-arrow-up, .a-arrow-btn.alt.a-arrow-up > .icon { background-position:-20px -40px; }
.a-btn.alt.a-arrow-btn.a-arrow-left, .a-btn.alt.a-arrow-left > .icon, .a-link.a-arrow-btn.a-arrow-left, .a-link.a-arrow-left > .icon, .a-btn.lite.a-arrow-btn.a-arrow-left, .a-btn.lite.a-arrow-left > .icon, .a-arrow-btn.alt.a-arrow-btn.a-arrow-left, .a-arrow-btn.alt.a-arrow-left > .icon { background-position:-20px -60px; }
.a-btn.alt.a-arrow-btn.a-arrow-right, .a-btn.alt.a-arrow-right > .icon, .a-link.a-arrow-btn.a-arrow-right, .a-link.a-arrow-right > .icon, .a-btn.lite.a-arrow-btn.a-arrow-right, .a-btn.lite.a-arrow-right > .icon, .a-arrow-btn.alt.a-arrow-btn.a-arrow-right, .a-arrow-btn.alt.a-arrow-right > .icon { background-position:-20px -80px; }
.a-btn.alt.a-arrow-btn.a-arrow-left.chunky, .a-btn.alt.a-arrow-left.chunky > .icon, .a-link.a-arrow-btn.a-arrow-left.chunky, .a-link.a-arrow-left.chunky > .icon, .a-btn.lite.a-arrow-btn.a-arrow-left.chunky, .a-btn.lite.a-arrow-left.chunky > .icon, .a-arrow-btn.alt.a-arrow-btn.a-arrow-left.chunky, .a-arrow-btn.alt.a-arrow-left.chunky > .icon { background-position:-20px -100px; }
.a-btn.alt.a-arrow-btn.a-arrow-right.chunky, .a-btn.alt.a-arrow-right.chunky > .icon, .a-link.a-arrow-btn.a-arrow-right.chunky, .a-link.a-arrow-right.chunky > .icon, .a-btn.lite.a-arrow-btn.a-arrow-right.chunky, .a-btn.lite.a-arrow-right.chunky > .icon, .a-arrow-btn.alt.a-arrow-btn.a-arrow-right.chunky, .a-arrow-btn.alt.a-arrow-right.chunky > .icon { background-position:-20px -120px; }
.a-btn.alt.a-arrow-btn.a-arrow-left.thin, .a-btn.alt.a-arrow-left.thin > .icon, .a-link.a-arrow-btn.a-arrow-left.thin, .a-link.a-arrow-left.thin > .icon, .a-btn.lite.a-arrow-btn.a-arrow-left.thin, .a-btn.lite.a-arrow-left.thin > .icon, .a-arrow-btn.alt.a-arrow-btn.a-arrow-left.thin, .a-arrow-btn.alt.a-arrow-left.thin > .icon { background-position:-20px -140px; }
.a-btn.alt.a-arrow-btn.a-arrow-right.thin, .a-btn.alt.a-arrow-right.thin > .icon, .a-link.a-arrow-btn.a-arrow-right.thin, .a-link.a-arrow-right.thin > .icon, .a-btn.lite.a-arrow-btn.a-arrow-right.thin, .a-btn.lite.a-arrow-right.thin > .icon, .a-arrow-btn.alt.a-arrow-btn.a-arrow-right.thin, .a-arrow-btn.alt.a-arrow-right.thin > .icon { background-position:-20px -160px; }
.a-btn.alt.a-return > .icon, .a-link.a-return > .icon, .a-btn.lite.a-return > .icon, .a-arrow-btn.alt.a-return > .icon { background-position:-20px -180px; }
.a-btn.alt.a-dropdown-arrow.right > .icon, .a-link.a-dropdown-arrow.right > .icon, .a-btn.lite.a-dropdown-arrow.right > .icon, .a-arrow-btn.alt.a-dropdown-arrow.right > .icon { background-position:-20px -200px; }
.a-btn.alt.a-dropdown-arrow.left > .icon, .a-link.a-dropdown-arrow.left > .icon, .a-btn.lite.a-dropdown-arrow.left > .icon, .a-arrow-btn.alt.a-dropdown-arrow.left > .icon { background-position:-20px -220px; }
.a-btn.alt.a-dropdown-arrow.down > .icon, .a-link.a-dropdown-arrow.down > .icon, .a-btn.lite.a-dropdown-arrow.down > .icon, .a-arrow-btn.alt.a-dropdown-arrow.down > .icon { background-position:-20px -240px; }
.a-btn.alt.a-dropdown-arrow.up > .icon, .a-link.a-dropdown-arrow.up > .icon, .a-btn.lite.a-dropdown-arrow.up > .icon, .a-arrow-btn.alt.a-dropdown-arrow.up > .icon { background-position:-20px -260px; }
.a-btn.alt.a-audio > .icon, .a-link.a-audio > .icon, .a-btn.lite.a-audio > .icon, .a-arrow-btn.alt.a-audio > .icon { background-position:-20px -280px; }
.a-btn.alt.a-blogmulti > .icon, .a-link.a-blogmulti > .icon, .a-btn.lite.a-blogmulti > .icon, .a-arrow-btn.alt.a-blogmulti > .icon { background-position:-20px -300px; }
.a-btn.alt.a-blog > .icon, .a-btn.alt.a-blog-btn > .icon, .a-btn.alt.a-blogpost > .icon, .a-btn.alt.a-blogsingle > .icon, .a-link.a-blog > .icon, .a-link.a-blog-btn > .icon, .a-link.a-blogpost > .icon, .a-link.a-blogsingle > .icon, .a-btn.lite.a-blog > .icon, .a-btn.lite.a-blog-btn > .icon, .a-btn.lite.a-blogpost > .icon, .a-btn.lite.a-blogsingle > .icon, .a-arrow-btn.alt.a-blog > .icon, .a-arrow-btn.alt.a-blog-btn > .icon, .a-arrow-btn.alt.a-blogpost > .icon, .a-arrow-btn.alt.a-blogsingle > .icon { background-position:-20px -320px; }
.a-btn.alt.a-button > .icon, .a-link.a-button > .icon, .a-btn.lite.a-button > .icon, .a-arrow-btn.alt.a-button > .icon { background-position:-20px -340px; }
.a-btn.alt.a-checked > .icon, .a-link.a-checked > .icon, .a-btn.lite.a-checked > .icon, .a-arrow-btn.alt.a-checked > .icon { background-position:-20px -360px; }
.a-btn.alt.a-unchecked > .icon, .a-link.a-unchecked > .icon, .a-btn.lite.a-unchecked > .icon, .a-arrow-btn.alt.a-unchecked > .icon { background-position:-20px -380px; }
.a-btn.alt.a-download > .icon, .a-link.a-download > .icon, .a-btn.lite.a-download > .icon, .a-arrow-btn.alt.a-download > .icon { background-position:-20px -400px; }
.a-btn.alt.a-drag > .icon, .a-link.a-drag > .icon, .a-btn.lite.a-drag > .icon, .a-arrow-btn.alt.a-drag > .icon { background-position:-20px -420px; }
.a-btn.alt.a-edit > .icon, .a-btn.alt.a-publish > .icon, .a-link.a-edit > .icon, .a-link.a-publish > .icon, .a-btn.lite.a-edit > .icon, .a-btn.lite.a-publish > .icon, .a-arrow-btn.alt.a-edit > .icon, .a-arrow-btn.alt.a-publish > .icon { background-position:-20px -440px; }
.a-btn.alt.a-email > .icon, .a-link.a-email > .icon, .a-btn.lite.a-email > .icon, .a-arrow-btn.alt.a-email > .icon { background-position:-20px -460px; }
.a-btn.alt.a-events.day-1 > .icon, .a-link.a-events.day-1 > .icon, .a-btn.lite.a-events.day-1 > .icon, .a-arrow-btn.alt.a-events.day-1 > .icon { background-position:-20px -480px; }
.a-btn.alt.a-events.day-2 > .icon, .a-link.a-events.day-2 > .icon, .a-btn.lite.a-events.day-2 > .icon, .a-arrow-btn.alt.a-events.day-2 > .icon { background-position:-20px -500px; }
.a-btn.alt.a-events.day-3 > .icon, .a-link.a-events.day-3 > .icon, .a-btn.lite.a-events.day-3 > .icon, .a-arrow-btn.alt.a-events.day-3 > .icon { background-position:-20px -520px; }
.a-btn.alt.a-events.day-4 > .icon, .a-link.a-events.day-4 > .icon, .a-btn.lite.a-events.day-4 > .icon, .a-arrow-btn.alt.a-events.day-4 > .icon { background-position:-20px -540px; }
.a-btn.alt.a-events.day-5 > .icon, .a-link.a-events.day-5 > .icon, .a-btn.lite.a-events.day-5 > .icon, .a-arrow-btn.alt.a-events.day-5 > .icon { background-position:-20px -560px; }
.a-btn.alt.a-events.day-6 > .icon, .a-link.a-events.day-6 > .icon, .a-btn.lite.a-events.day-6 > .icon, .a-arrow-btn.alt.a-events.day-6 > .icon { background-position:-20px -580px; }
.a-btn.alt.a-events.day-7 > .icon, .a-link.a-events.day-7 > .icon, .a-btn.lite.a-events.day-7 > .icon, .a-arrow-btn.alt.a-events.day-7 > .icon { background-position:-20px -600px; }
.a-btn.alt.a-events.day-8 > .icon, .a-link.a-events.day-8 > .icon, .a-btn.lite.a-events.day-8 > .icon, .a-arrow-btn.alt.a-events.day-8 > .icon { background-position:-20px -620px; }
.a-btn.alt.a-events.day-9 > .icon, .a-link.a-events.day-9 > .icon, .a-btn.lite.a-events.day-9 > .icon, .a-arrow-btn.alt.a-events.day-9 > .icon { background-position:-20px -640px; }
.a-btn.alt.a-events.day-10 > .icon, .a-link.a-events.day-10 > .icon, .a-btn.lite.a-events.day-10 > .icon, .a-arrow-btn.alt.a-events.day-10 > .icon { background-position:-20px -660px; }
.a-btn.alt.a-events.day-11 > .icon, .a-link.a-events.day-11 > .icon, .a-btn.lite.a-events.day-11 > .icon, .a-arrow-btn.alt.a-events.day-11 > .icon { background-position:-20px -680px; }
.a-btn.alt.a-events.day-12 > .icon, .a-link.a-events.day-12 > .icon, .a-btn.lite.a-events.day-12 > .icon, .a-arrow-btn.alt.a-events.day-12 > .icon { background-position:-20px -700px; }
.a-btn.alt.a-events.day-13 > .icon, .a-link.a-events.day-13 > .icon, .a-btn.lite.a-events.day-13 > .icon, .a-arrow-btn.alt.a-events.day-13 > .icon { background-position:-20px -720px; }
.a-btn.alt.a-events.day-14 > .icon, .a-link.a-events.day-14 > .icon, .a-btn.lite.a-events.day-14 > .icon, .a-arrow-btn.alt.a-events.day-14 > .icon { background-position:-20px -740px; }
.a-btn.alt.a-events.day-15 > .icon, .a-link.a-events.day-15 > .icon, .a-btn.lite.a-events.day-15 > .icon, .a-arrow-btn.alt.a-events.day-15 > .icon { background-position:-20px -760px; }
.a-btn.alt.a-events.day-16 > .icon, .a-link.a-events.day-16 > .icon, .a-btn.lite.a-events.day-16 > .icon, .a-arrow-btn.alt.a-events.day-16 > .icon { background-position:-20px -780px; }
.a-btn.alt.a-events.day-17 > .icon, .a-link.a-events.day-17 > .icon, .a-btn.lite.a-events.day-17 > .icon, .a-arrow-btn.alt.a-events.day-17 > .icon { background-position:-20px -800px; }
.a-btn.alt.a-events.day-18 > .icon, .a-link.a-events.day-18 > .icon, .a-btn.lite.a-events.day-18 > .icon, .a-arrow-btn.alt.a-events.day-18 > .icon { background-position:-20px -820px; }
.a-btn.alt.a-events.day-19 > .icon, .a-link.a-events.day-19 > .icon, .a-btn.lite.a-events.day-19 > .icon, .a-arrow-btn.alt.a-events.day-19 > .icon { background-position:-20px -840px; }
.a-btn.alt.a-events.day-20 > .icon, .a-link.a-events.day-20 > .icon, .a-btn.lite.a-events.day-20 > .icon, .a-arrow-btn.alt.a-events.day-20 > .icon { background-position:-20px -860px; }
.a-btn.alt.a-events.day-21 > .icon, .a-link.a-events.day-21 > .icon, .a-btn.lite.a-events.day-21 > .icon, .a-arrow-btn.alt.a-events.day-21 > .icon { background-position:-20px -880px; }
.a-btn.alt.a-events.day-22 > .icon, .a-link.a-events.day-22 > .icon, .a-btn.lite.a-events.day-22 > .icon, .a-arrow-btn.alt.a-events.day-22 > .icon { background-position:-20px -900px; }
.a-btn.alt.a-events.day-23 > .icon, .a-link.a-events.day-23 > .icon, .a-btn.lite.a-events.day-23 > .icon, .a-arrow-btn.alt.a-events.day-23 > .icon { background-position:-20px -920px; }
.a-btn.alt.a-events.day-24 > .icon, .a-link.a-events.day-24 > .icon, .a-btn.lite.a-events.day-24 > .icon, .a-arrow-btn.alt.a-events.day-24 > .icon { background-position:-20px -940px; }
.a-btn.alt.a-events.day-25 > .icon, .a-link.a-events.day-25 > .icon, .a-btn.lite.a-events.day-25 > .icon, .a-arrow-btn.alt.a-events.day-25 > .icon { background-position:-20px -960px; }
.a-btn.alt.a-events.day-26 > .icon, .a-link.a-events.day-26 > .icon, .a-btn.lite.a-events.day-26 > .icon, .a-arrow-btn.alt.a-events.day-26 > .icon { background-position:-20px -980px; }
.a-btn.alt.a-events.day-27 > .icon, .a-link.a-events.day-27 > .icon, .a-btn.lite.a-events.day-27 > .icon, .a-arrow-btn.alt.a-events.day-27 > .icon { background-position:-20px -1000px; }
.a-btn.alt.a-events.day-28 > .icon, .a-link.a-events.day-28 > .icon, .a-btn.lite.a-events.day-28 > .icon, .a-arrow-btn.alt.a-events.day-28 > .icon { background-position:-20px -1020px; }
.a-btn.alt.a-events.day-29 > .icon, .a-link.a-events.day-29 > .icon, .a-btn.lite.a-events.day-29 > .icon, .a-arrow-btn.alt.a-events.day-29 > .icon { background-position:-20px -1040px; }
.a-btn.alt.a-events.day-30 > .icon, .a-link.a-events.day-30 > .icon, .a-btn.lite.a-events.day-30 > .icon, .a-arrow-btn.alt.a-events.day-30 > .icon { background-position:-20px -1060px; }
.a-btn.alt.a-events.day-31 > .icon, .a-btn.alt.a-event > .icon, .a-btn.alt.a-eventsingle > .icon, .a-link.a-events.day-31 > .icon, .a-link.a-event > .icon, .a-link.a-eventsingle > .icon, .a-btn.lite.a-events.day-31 > .icon, .a-btn.lite.a-event > .icon, .a-btn.lite.a-eventsingle > .icon, .a-arrow-btn.alt.a-events.day-31 > .icon, .a-arrow-btn.alt.a-event > .icon, .a-arrow-btn.alt.a-eventsingle > .icon { background-position:-20px -1080px; }
.a-btn.alt.a-feed > .icon, .a-btn.alt.a-rss-feed > .icon, .a-btn.alt.a-rss > .icon, .a-link.a-feed > .icon, .a-link.a-rss-feed > .icon, .a-link.a-rss > .icon, .a-btn.lite.a-feed > .icon, .a-btn.lite.a-rss-feed > .icon, .a-btn.lite.a-rss > .icon, .a-arrow-btn.alt.a-feed > .icon, .a-arrow-btn.alt.a-rss-feed > .icon, .a-arrow-btn.alt.a-rss > .icon { background-position:-20px -1100px; }
.a-btn.alt.a-feed.color > .icon, .a-btn.alt.a-rss-feed.color > .icon, .a-btn.alt.a-rss.color > .icon, .a-link.a-feed.color > .icon, .a-link.a-rss-feed.color > .icon, .a-link.a-rss.color > .icon, .a-btn.lite.a-feed.color > .icon, .a-btn.lite.a-rss-feed.color > .icon, .a-btn.lite.a-rss.color > .icon, .a-arrow-btn.alt.a-feed.color > .icon, .a-arrow-btn.alt.a-rss-feed.color > .icon, .a-arrow-btn.alt.a-rss.color > .icon { background-position:-20px -1760px; }
.a-btn.alt.a-file > .icon, .a-link.a-file > .icon, .a-btn.lite.a-file > .icon, .a-arrow-btn.alt.a-file > .icon { background-position:-20px -1120px; }
.a-btn.alt.a-history-btn > .icon, .a-btn.alt.a-history-revert > .icon, .a-link.a-history-btn > .icon, .a-link.a-history-revert > .icon, .a-btn.lite.a-history-btn > .icon, .a-btn.lite.a-history-revert > .icon, .a-arrow-btn.alt.a-history-btn > .icon, .a-arrow-btn.alt.a-history-revert > .icon { background-position:-20px -1140px; }
.a-btn.alt.a-slideshow > .icon, .a-btn.alt.a-media > .icon, .a-btn.alt.a-image > .icon, .a-link.a-slideshow > .icon, .a-link.a-media > .icon, .a-link.a-image > .icon, .a-btn.lite.a-slideshow > .icon, .a-btn.lite.a-media > .icon, .a-btn.lite.a-image > .icon, .a-arrow-btn.alt.a-slideshow > .icon, .a-arrow-btn.alt.a-media > .icon, .a-arrow-btn.alt.a-image > .icon { background-position:-20px -1160px; }
.a-btn.alt.a-smartslideshow > .icon, .a-link.a-smartslideshow > .icon, .a-btn.lite.a-smartslideshow > .icon, .a-arrow-btn.alt.a-smartslideshow > .icon { background-position:-20px -1180px; }
.a-btn.alt.a-page-settings > .icon, .a-link.a-page-settings > .icon, .a-btn.lite.a-page-settings > .icon, .a-arrow-btn.alt.a-page-settings > .icon { background-position:-20px -1200px; }
.a-btn.alt.a-page-small > .icon, .a-link.a-page-small > .icon, .a-btn.lite.a-page-small > .icon, .a-arrow-btn.alt.a-page-small > .icon { background-position:-20px -1220px; }
.a-btn.alt.a-pdf > .icon, .a-link.a-pdf > .icon, .a-btn.lite.a-pdf > .icon, .a-arrow-btn.alt.a-pdf > .icon { background-position:-20px -1260px; }
.a-btn.alt.a-rawhtml > .icon, .a-link.a-rawhtml > .icon, .a-btn.lite.a-rawhtml > .icon, .a-arrow-btn.alt.a-rawhtml > .icon { background-position:-20px -1300px; }
.a-btn.alt.a-replace > .icon, .a-link.a-replace > .icon, .a-btn.lite.a-replace > .icon, .a-arrow-btn.alt.a-replace > .icon { background-position:-20px -1320px; }
.a-btn.alt.a-search > .icon, .a-link.a-search > .icon, .a-btn.lite.a-search > .icon, .a-arrow-btn.alt.a-search > .icon { background-position:-20px -1340px; }
.a-btn.alt.a-settings > .icon, .a-link.a-settings > .icon, .a-btn.lite.a-settings > .icon, .a-arrow-btn.alt.a-settings > .icon { background-position:-20px -1360px; }
.a-btn.alt.a-reorganize > .icon, .a-link.a-reorganize > .icon, .a-btn.lite.a-reorganize > .icon, .a-arrow-btn.alt.a-reorganize > .icon { background-position:-20px -1380px; }
.a-btn.alt.a-theme > .icon, .a-btn.alt.a-templates > .icon, .a-link.a-theme > .icon, .a-link.a-templates > .icon, .a-btn.lite.a-theme > .icon, .a-btn.lite.a-templates > .icon, .a-arrow-btn.alt.a-theme > .icon, .a-arrow-btn.alt.a-templates > .icon { background-position:-20px -1400px; }
.a-btn.alt.a-richtext > .icon, .a-btn.alt.a-text > .icon, .a-link.a-richtext > .icon, .a-link.a-text > .icon, .a-btn.lite.a-richtext > .icon, .a-btn.lite.a-text > .icon, .a-arrow-btn.alt.a-richtext > .icon, .a-arrow-btn.alt.a-text > .icon { background-position:-20px -1420px; }
.a-btn.alt.a-delete > .icon, .a-link.a-delete > .icon, .a-btn.lite.a-delete > .icon, .a-arrow-btn.alt.a-delete > .icon { background-position:-20px -1440px; }
.a-btn.alt.a-categories > .icon, .a-btn.alt.a-tags > .icon, .a-link.a-categories > .icon, .a-link.a-tags > .icon, .a-btn.lite.a-categories > .icon, .a-btn.lite.a-tags > .icon, .a-arrow-btn.alt.a-categories > .icon, .a-arrow-btn.alt.a-tags > .icon { background-position:-20px -1460px; }
.a-btn.alt.a-users > .icon, .a-link.a-users > .icon, .a-btn.lite.a-users > .icon, .a-arrow-btn.alt.a-users > .icon { background-position:-20px -1480px; }
.a-btn.alt.a-video > .icon, .a-link.a-video > .icon, .a-btn.lite.a-video > .icon, .a-arrow-btn.alt.a-video > .icon { background-position:-20px -1500px; }
.a-btn.alt.a-time > .icon, .a-link.a-time > .icon, .a-btn.lite.a-time > .icon, .a-arrow-btn.alt.a-time > .icon { background-position:-20px -1520px; }
.a-btn.alt.a-crop > .icon, .a-link.a-crop > .icon, .a-btn.lite.a-crop > .icon, .a-arrow-btn.alt.a-crop > .icon { background-position:-20px -1540px; }
.a-btn.alt.a-calendar > .icon, .a-link.a-calendar > .icon, .a-btn.lite.a-calendar > .icon, .a-arrow-btn.alt.a-calendar > .icon { background-position:-20px -1560px; }
.a-btn.alt.a-filters > .icon, .a-link.a-filters > .icon, .a-btn.lite.a-filters > .icon, .a-arrow-btn.alt.a-filters > .icon { background-position:-20px -1360px; }
.a-btn.alt.a-help > .icon, .a-link.a-help > .icon, .a-btn.lite.a-help > .icon, .a-arrow-btn.alt.a-help > .icon { background-position:-20px -1600px; }
.a-btn.alt.a-media-four-up > .icon, .a-link.a-media-four-up > .icon, .a-btn.lite.a-media-four-up > .icon, .a-arrow-btn.alt.a-media-four-up > .icon { background-position:-20px -1620px; }
.a-btn.alt.a-media-one-up > .icon, .a-link.a-media-one-up > .icon, .a-btn.lite.a-media-one-up > .icon, .a-arrow-btn.alt.a-media-one-up > .icon { background-position:-20px -1640px; }
.a-btn.alt.a-media-two-up > .icon, .a-link.a-media-two-up > .icon, .a-btn.lite.a-media-two-up > .icon, .a-arrow-btn.alt.a-media-two-up > .icon { background-position:-20px -1660px; }
.a-btn.alt.a-page-blog > .icon, .a-link.a-page-blog > .icon, .a-btn.lite.a-page-blog > .icon, .a-arrow-btn.alt.a-page-blog > .icon { background-position:-20px -1680px; }
.a-btn.alt.a-page-events  > .icon, .a-link.a-page-events  > .icon, .a-btn.lite.a-page-events  > .icon, .a-arrow-btn.alt.a-page-events  > .icon { background-position:-20px -1700px; }
.a-btn.alt.a-page-media  > .icon, .a-link.a-page-media  > .icon, .a-btn.lite.a-page-media  > .icon, .a-arrow-btn.alt.a-page-media  > .icon { background-position:-20px -1720px; }
.a-btn.alt.a-page-normal > .icon, .a-link.a-page-normal > .icon, .a-btn.lite.a-page-normal > .icon, .a-arrow-btn.alt.a-page-normal > .icon { background-position:-20px -1740px; }
.a-btn.alt.a-close > .icon, .a-link.a-close > .icon, .a-btn.lite.a-close > .icon, .a-arrow-btn.alt.a-close > .icon { background-position:-20px -1780px; }
.a-btn.alt.a-selected > .icon, .a-btn.alt.a-cancel > .icon, .a-btn.alt.a-close-small > .icon, .a-link.a-selected > .icon, .a-link.a-cancel > .icon, .a-link.a-close-small > .icon, .a-btn.lite.a-selected > .icon, .a-btn.lite.a-cancel > .icon, .a-btn.lite.a-close-small > .icon, .a-arrow-btn.alt.a-selected > .icon, .a-arrow-btn.alt.a-cancel > .icon, .a-arrow-btn.alt.a-close-small > .icon { background-position:-20px -1800px; }
.a-btn.alt.a-insetarea > .icon, .a-link.a-insetarea > .icon, .a-btn.lite.a-insetarea > .icon, .a-arrow-btn.alt.a-insetarea > .icon { background-position:-20px -1820px; }
.a-btn.alt.a-insetimage > .icon, .a-link.a-insetimage > .icon, .a-btn.lite.a-insetimage > .icon, .a-arrow-btn.alt.a-insetimage > .icon { background-position:-20px -1840px; }
.a-btn.alt.a-undo > .icon, .a-link.a-undo > .icon, .a-btn.lite.a-undo > .icon, .a-arrow-btn.alt.a-undo > .icon { background-position:-20px -1860px; }
.a-btn.alt.a-redo > .icon, .a-link.a-redo > .icon, .a-btn.lite.a-redo > .icon, .a-arrow-btn.alt.a-redo > .icon { background-position:-20px -1880px; }
.a-btn.alt.a-apps > .icon, .a-link.a-apps > .icon, .a-btn.lite.a-apps > .icon, .a-arrow-btn.alt.a-apps > .icon { background-position:-20px -1900px; }
.a-btn.alt.a-print > .icon, .a-link.a-print > .icon, .a-btn.lite.a-print > .icon, .a-arrow-btn.alt.a-print > .icon { background-position:-20px -1920px; }
.a-btn.alt.a-google-maps > .icon, .a-link.a-google-maps > .icon, .a-btn.lite.a-google-maps > .icon, .a-arrow-btn.alt.a-google-maps > .icon { background-position:-20px -0px; }
