.a-ui .a-btn, .a-ui .a-submit, .a-ui.a-btn, .a-ui.a-submit {
  display:block;
  text-shadow:0px 1px 1px #ffd899;
  text-decoration:none;
  background-color:#ff9d00;
  background-image:-moz-linear-gradient(center bottom,#ff9d00 0%,#ffb133 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#ff9d00),color-stop(1,#ffb133));
  background-image:-o-linear-gradient(center bottom,#ff9d00 0%,#ffb133 100%);
  border:1px solid #cc7d00;
  border-top:1px solid #e68d00;
  border-bottom:1px solid #b36e00;
  color:#4d2f00;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-transition:all 0.218s ease;
  -moz-transition:all 0.218s ease;
  -o-transition:all 0.218s ease;
  transition:all 0.218s ease;
}
.a-ui .a-btn:hover, .a-ui .a-submit:hover, .a-ui.a-btn:hover, .a-ui.a-submit:hover {
  background-color:#ffa71a;
  -moz-box-shadow:0px 3px 2px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 3px 2px -2px rgba(0,0,0,0.2);
  -opera-box-shadow:0px 3px 2px -2px rgba(0,0,0,0.2);
  -khtml-box-shadow:0px 3px 2px -2px rgba(0,0,0,0.2);
  box-shadow:0px 3px 2px -2px rgba(0,0,0,0.2);
  background-image:-moz-linear-gradient(center bottom,#ffa30f 0%,#ffb742 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#ffa30f),color-stop(1,#ffb742));
  background-image:-o-linear-gradient(center bottom,#ffa30f 0%,#ffb742 100%);
  border:1px solid #b36e00;
  border-top:1px solid #cd7e00;
  border-bottom:1px solid #9a5f00;
}
.a-ui .a-btn:active, .a-ui .a-btn:focus, .a-ui .a-submit:active, .a-ui .a-submit:focus, .a-ui.a-btn:active, .a-ui.a-btn:focus, .a-ui.a-submit:active, .a-ui.a-submit:focus {
  background-color:#e68e00;
  -moz-box-shadow:inset 0px 2px 5px -1px #b36e00;
  -webkit-box-shadow:inset 0px 2px 5px -1px #b36e00;
  -opera-box-shadow:inset 0px 2px 5px -1px #b36e00;
  -khtml-box-shadow:inset 0px 2px 5px -1px #b36e00;
  box-shadow:inset 0px 2px 5px -1px #b36e00;
  border:1px solid #995f00;
  border-top:1px solid #b36e00;
  border-bottom:1px solid #804f00;
}
.a-ui .a-btn.alt, .a-ui .a-submit.alt, .a-ui.a-btn.alt, .a-ui.a-submit.alt {
  display:block;
  text-shadow:0px 1px 1px #ffffff;
  text-decoration:none;
  background-color:#dddddd;
  background-image:-moz-linear-gradient(center bottom,#dddddd 0%,#f7f7f7 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#dddddd),color-stop(1,#f7f7f7));
  background-image:-o-linear-gradient(center bottom,#dddddd 0%,#f7f7f7 100%);
  border:1px solid #c5c5c5;
  border-top:1px solid #d1d1d1;
  border-bottom:1px solid #b8b8b8;
  color:#262626;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-transition:all 0.218s ease;
  -moz-transition:all 0.218s ease;
  -o-transition:all 0.218s ease;
  transition:all 0.218s ease;
}
.a-ui .a-btn.alt:hover, .a-ui .a-submit.alt:hover, .a-ui.a-btn.alt:hover, .a-ui.a-submit.alt:hover {
  background-color:#ebebeb;
  -moz-box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  -webkit-box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  -opera-box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  -khtml-box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  background-image:-moz-linear-gradient(center bottom,#e6e6e6 0%,#ffffff 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#e6e6e6),color-stop(1,#ffffff));
  background-image:-o-linear-gradient(center bottom,#e6e6e6 0%,#ffffff 100%);
  border:1px solid #b8b8b8;
  border-top:1px solid #c4c4c4;
  border-bottom:1px solid #ababab;
}
.a-ui .a-btn.alt:active, .a-ui .a-btn.alt:focus, .a-ui .a-submit.alt:active, .a-ui .a-submit.alt:focus, .a-ui.a-btn.alt:active, .a-ui.a-btn.alt:focus, .a-ui.a-submit.alt:active, .a-ui.a-submit.alt:focus {
  background-color:#d1d1d1;
  -moz-box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  -webkit-box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  -opera-box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  -khtml-box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  border:1px solid #ababab;
  border-top:1px solid #b7b7b7;
  border-bottom:1px solid #9e9e9e;
}
.a-ui .a-btn.lite, .a-ui .a-submit.lite, .a-ui.a-btn.lite, .a-ui.a-submit.lite {
  color:#000000;
  text-shadow:none;
  background-color:#cccccc;
  background:none;
  border-top:1px solid transparent !important;
  border-bottom:1px solid transparent !important;
  border-left:1px solid transparent !important;
  border-right:1px solid transparent !important;
}
.a-ui .a-btn.lite:hover, .a-ui .a-submit.lite:hover, .a-ui.a-btn.lite:hover, .a-ui.a-submit.lite:hover {
  border-top:1px solid transparent !important;
  border-bottom:1px solid transparent !important;
  border-left:1px solid transparent !important;
  border-right:1px solid transparent !important;
  background-image:-moz-linear-gradient(center bottom,#cccccc 0%,#cccccc 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#cccccc),color-stop(1,#cccccc));
  background-image:-o-linear-gradient(center bottom,#cccccc 0%,#cccccc 100%);
  -moz-box-shadow:0px 0px 0px transparent;
  -webkit-box-shadow:0px 0px 0px transparent;
  -opera-box-shadow:0px 0px 0px transparent;
  -khtml-box-shadow:0px 0px 0px transparent;
  box-shadow:0px 0px 0px transparent;
}
.a-ui .a-btn.lite:active, .a-ui .a-btn.lite:focus, .a-ui .a-submit.lite:active, .a-ui .a-submit.lite:focus, .a-ui.a-btn.lite:active, .a-ui.a-btn.lite:focus, .a-ui.a-submit.lite:active, .a-ui.a-submit.lite:focus {
  border-top:1px solid transparent !important;
  border-bottom:1px solid transparent !important;
  border-left:1px solid transparent !important;
  border-right:1px solid transparent !important;
  background-image:-moz-linear-gradient(center bottom,#cccccc 0%,#cccccc 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#cccccc),color-stop(1,#cccccc));
  background-image:-o-linear-gradient(center bottom,#cccccc 0%,#cccccc 100%);
  -moz-box-shadow:0px 0px 0px transparent;
  -webkit-box-shadow:0px 0px 0px transparent;
  -opera-box-shadow:0px 0px 0px transparent;
  -khtml-box-shadow:0px 0px 0px transparent;
  box-shadow:0px 0px 0px transparent;
}
.a-ui .a-btn.lite.a-active, .a-ui .a-submit.lite.a-active, .a-ui.a-btn.lite.a-active, .a-ui.a-submit.lite.a-active { background-color:#d9d9d9; }
.a-ui .a-link { color:#ff9d00; }
.a-ui .a-link:hover, .a-ui .a-link:focus { color:#000000; }
.a-ui .a-cancel {
  display:block;
  text-shadow:0px 1px 1px #ffffff;
  text-decoration:none;
  background-color:#dddddd;
  background-image:-moz-linear-gradient(center bottom,#dddddd 0%,#f7f7f7 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#dddddd),color-stop(1,#f7f7f7));
  background-image:-o-linear-gradient(center bottom,#dddddd 0%,#f7f7f7 100%);
  border:1px solid #c5c5c5;
  border-top:1px solid #d1d1d1;
  border-bottom:1px solid #b8b8b8;
  color:#262626;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-transition:all 0.218s ease;
  -moz-transition:all 0.218s ease;
  -o-transition:all 0.218s ease;
  transition:all 0.218s ease;
}
.a-ui .a-cancel:hover {
  background-color:#ebebeb;
  -moz-box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  -webkit-box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  -opera-box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  -khtml-box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  box-shadow:0px 3px 2px -2px rgba(82,82,82,0.2);
  background-image:-moz-linear-gradient(center bottom,#e6e6e6 0%,#ffffff 100%);
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#e6e6e6),color-stop(1,#ffffff));
  background-image:-o-linear-gradient(center bottom,#e6e6e6 0%,#ffffff 100%);
  border:1px solid #b8b8b8;
  border-top:1px solid #c4c4c4;
  border-bottom:1px solid #ababab;
}
.a-ui .a-cancel:active, .a-ui .a-cancel:focus {
  background-color:#d1d1d1;
  -moz-box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  -webkit-box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  -opera-box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  -khtml-box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  box-shadow:inset 0px 2px 5px -1px #b8b8b8;
  border:1px solid #ababab;
  border-top:1px solid #b7b7b7;
  border-bottom:1px solid #9e9e9e;
}
.a-media-footer-button:hover { background-color:rgba(255,157,0,0.8); }
.a-attribution a, .a-admin-content a, .a-global-toolbar .a-logged-in-user span, #a-personal-settings-heading span { color:#ff9d00; }
.a-ui.a-global-toolbar .the-apostrophe { background-color:#ff9d00; }
